<h1>Show Access Key</h1>

<ul>
    <li>
        <strong>Access Key:</strong>
        <%= @access_key.access_key %>
    </li>
</ul>

<span><%= link "Edit", to: Routes.access_key_path(@conn, :edit, @access_key) %></span>
<span><%= link "Back", to: Routes.access_key_path(@conn, :index) %></span>